@model FitnessWebApp.Models.CaloriesLog
@{
    ViewData["Title"] = "Edit log";    
}

<h2>Edit log</h2>
<form method="post" id="calories-form">
    <input type="hidden" asp-for="Date" asp-format="{0:yyyy-MM-dd}"/>
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="row mb-3">
        <div class="col-lg-3 mb-3">
            <label class="form-label" asp-for="Unit">Unit</label>
            <select class="form-select" asp-for="Unit">
                <option selected value="0">Disabled</option>
                <option value="1">100 g</option>
                <option value="2">100 ml</option>
            </select>
        </div>
        <div class="col-lg-3 mb-3">
            <label class="form-label" asp-for="CaloriesPerUnit">Calories per unit (kcal)</label>
            <input type="number" class="form-control" asp-for="CaloriesPerUnit"/>
            <span class="text-danger" asp-validation-for="CaloriesPerUnit"></span>
        </div>
        <div class="col-lg-3 mb-3">
            <label class="form-label" asp-for="Amount">Amount <span id="AmountUnit"></span></label>
            <input type="number" class="form-control" asp-for="Amount"/>
            <span class="text-danger" asp-validation-for="Amount"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-label" asp-for="Calories">Total calories</label>
            <input type="number" class="form-control" asp-for="Calories"/>
            <span class="text-danger" asp-validation-for="Calories"></span>
        </div>
    </div>
    <div class="d-flex gap-3 mt-5">
        <a class="btn btn-secondary flex-grow-1 flex-lg-grow-0" asp-action="Index"
           asp-route-date="@Model.Date.ToString("yyyy-MM-dd")">Cancel</a>
        <button type="submit" class="btn btn-primary flex-grow-1 flex-lg-grow-0">Update</button>
    </div>
</form>